// GLOBAL STYLES

html {
    font-family: Arial, sans-serif;
    font-size: 62.5%;
}

body {
    font-size: 2rem;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

.login-container {
    padding-top: 5%;
    display: flex;
    align-self: flex-end;
    align-items: center;
}

.login-container p {
    color: $light-shades;
    padding-right: 10px;
    text-transform: uppercase;
    margin: 0;
}

.login-button {
    color: $light-shades;
    background: $button-shades;
    border: none;
    border-radius: 50%;
    padding: 5px 10px;
    transition: background 0.2s ease-in-out, color 0.2s ease-in-out;

    &:hover {
        background: $light-shades;
        color: $button-shades;
    }
}

.ingredients-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}
