html {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}
