.header {
    width: 100vw;
    padding-left: 10vw;
    padding-right: 10vw;
    height: 100vh;
    margin: 0 auto;
    background: $dark-shades;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 15px solid $button-shades;

    // &-nav {
    //     border: 1px solid black;
    //     width: 100vw;
    //     position: fixed;
    //     bottom: 0;
    //     left: 0;
    // }

    // &-nav ul {
    //     display: flex;
    //     justify-content: space-between;
    // }

    // &-nav-item {
    //     width: calc(100% / 3);
    //     padding: 10px 20px;
    // }
}

.header h1 {
    padding-top: 10vh;
    margin: 0;
    text-transform: uppercase;
    color: $light-shades;
    font-size: 5rem;
    line-height: 1;
}

.header h2 {
    margin: 0;
    text-transform: uppercase;
    color: $light-shades;
    font-size: 2.5rem;
}