// SEARCH PAGE STYLES

.search-section {
  width: 100%;
  padding-left: 10vw;
  padding-right: 10vw;
  min-width: 320px;
  max-width: 1920px;
  min-height: 100vh;
  margin: 0 auto;
  background: $dark-shades;
  display: flex;
  flex-direction: column;
  align-items: center;

  .emoji-logo {
    align-self: flex-start;
    font-size: 3rem;
  }

  h1 {
    margin: 0;
    text-transform: uppercase;
    color: $light-shades;
    font-size: 5rem;
    line-height: 1;
  }

  h2 {
    margin: 0 0 20px 0;
    text-transform: uppercase;
    color: $light-shades;
    font-size: 2.1rem;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    input[type="text"] {
      width: 90%;
      border: none;
      padding: 10px 15px;
      border-radius: 10px;

      &:focus {
        box-shadow: 0 0 0 3px $light-accent;
      }
    }

    input[type="submit"],
    button {
      width: 80%;
      border: none;
      border-radius: 10px;
      color: $light-shades;
      background: $light-accent;
      font-size: 2rem;
      padding: 10px 20px;
      margin-top: 10px;

      &:hover,
      &:focus {
        background: $main-color;
      }
    }
  }
}

.center-search-container {
  width: 100%;
}
